@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background-color: #2ecc71;
}

.container form {
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container .row {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .row .col {
  flex: 1 1 250px;
}

.container .row .col .title {
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container .row .col .inputBox {
  margin:15px 0;
}

.container .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container .row .col .inputBox input {
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container .row .col .inputBox input:focus {
  border:1px solid #000;
}

.container .row .col .flex {
  display: flex;
  gap:15px;
}

.container .row .col .flex .inputBox {
  margin-top: 5px;
}

.container .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #2ecc71;
}

.container form .submit-btn-cancelar {
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #b21f1fe2;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}

.container form .submit-btn-cancelar:hover {
    background: #ff0000;
}

.container .submit-btn-voltar {
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #322c2ce2;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
}

.container .submit-btn-voltar:hover {
    background: #504444;
}