body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;

    font-family: 'Poppins', sans-serif;

    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #b93b57, #2b07f9);
}

body::before {
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);

    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(700px, 200px);
    /* transition: transform .5s ease, height .2s ease; */
    overflow: hidden;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #2c1a63ec;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.wrapper .icon-close:hover {
    cursor: pointer;
    background: #274a9bec;
}

.wrapper.active {
    height: 520px;
}

/* .wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
} */

/* .wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px); 
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
} */

/* .wrapper.active-popup {
    transform: translate(700px, 200px) scale(1);
} */

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;

    /* margin-bottom: 25px;
    align-items: center;
    justify-content: center; */

    margin: 30px 0;

    font-weight: 500;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;

    color: #fff;
    font-weight: 500;
    pointer-events: none;

    transition: .5s;
}

/* .login .input-box input:focus~label,
.login .input-box input.valid~label,
.login .input-box input:valid~label {
  top: -5px;
}

.register .input-box input:focus~label,
.register .input-box input.valid~label,
.register .input-box input:valid~label {
  top: -5px;
} */

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.nav-item .btn:hover {
    background-color: #1912d7;
}

.remember-forgot {
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.login-register p a:hover {
    text-decoration: underline;
}

.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}

.icon {
    color: white;
}




/* Barra de navegação
------------------------------*/

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 5);
    border-color: rgba(255, 255, 255, 0.1);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.nav-item .btnLogin-popup {
    width: 120px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.nav-item .btnLogin-popup:hover {
    background: #7c8080;
}